/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700;800&display=swap');

:root {
	--fonte-padrao: 'Inter';

	--branco-dnc: #FFFFFF;
	--cinza-dnc: #BABABA;
	--cinza-hover: #CCCCCC;
	--preto-dnc: #303030;
	--azul-padrao: #0C70F2;
	--azul-dnc: #0C70F240;
}

body {
	margin: 0px;
	padding: 0px;

	background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
	background-repeat: no-repeat;
}

/* Menu Principal */
#main {
	width: 100%;
	height: 100px;
	border: 1px solid black;
	background-color: var(--preto-dnc);

	display: flex;
	justify-content: space-between; /* Alinhamento do botão horizontal */
	align-items: center; /* Alinhamento do botão vertical */
	border-bottom: 1px solid var(--cinza-dnc);
}

	#menu {
		display: flex;
		width: 45%;
		justify-content: space-around;
		align-items: center;

		margin-left: 5%;
	}

	#menu a {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 600;
		font-size: 25px;
		color: var(--branco-dnc);

		text-decoration: none;
	}

		#menu a:hover {
			color: var(--cinza-hover);
		}

	#main button {
		margin-right: 5%;
		background-color: var(--azul-padrao);
		border: 0px;

		height: 40px;
		width: 80px;

		font-family: 'Inter';
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		color: var(--branco-dnc);

		background: var(--azul-padrao);
		box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.251);
		cursor: pointer;
	}

/* MENU FORMULÁRIO */
section {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 100px;
	margin-bottom: 100px;
}

	header {
		color: var(--branco-dnc);
		font-family: var(--fonte-padrao);
	}

	header h1 {
		font-weight: 800;
		font-size: 80px;
		text-align: center;

		margin-bottom: 26px;
		margin-top: 100px;
	}

	header h2 {
		font-weight: 500;
		font-size: 40px;
		text-align: center;

		margin-bottom: 191px;
	}

	header .inverted-color {
		background-color: black;
	}

	/* FOMULÁRIO */
	form {
		font-family: var(--fonte-padrao);
		font-weight: 600;
		font-size: 30px;

		color: var(--branco-dnc);

		width: 600px;
	}

	.group-form {
		display: flex;
		flex-direction: column;

		margin-top: 10px;
		margin-bottom: 10px;
	}

	form input {
		font-family: var(--fonte-padrao);
		font-weight: 400;
		font-size: 20px;

		background: rgba(57, 57, 57, 0.5);

		height: 56px;
		background: rgba(255, 255, 255, 0.9);
		border-radius: 10px;
		border: 0px;		
	}

	#space {
		margin-top: 35px;
	}

	form input::placeholder {
		color: rgba(57, 57, 57, 0.5);
		padding-left: 17px;
	}

	.checkbox-itens label {
		font-size: 25px;
	}

	.checkbox-itens {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	input[type="checkbox"] {
		transform: scale(1.7);
	}

	input[type="submit"] {
		font-weight: 600;
		font-size: 32px;
		color: var(--branco-dnc);

		width: 100%;
		height: 56px;
		padding: 0px;

		background: rgba(12, 112, 242, 0.9);
		box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);

		margin-top: 89px;
		cursor: pointer;
	}

/* FOOTER MENU */
footer {
	width: 100%;
	background: var(--azul-padrao);
}

	footer .lineone-footer {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	footer ul {
		font-family: var(--fonte-padrao);
		list-style: none;
		padding: 0px;
	}

	footer nav {
		display: flex; /* Alinhamento do h5 */
		flex-direction: column;
		align-items: center;

		height: 430px;
	}

	footer h5 {
		font-family: var(--fonte-padrao);
		font-weight: 800;
		font-size: 25px;

		color: var(--branco-dnc);
		background: black;
		border-radius: 10px;

		padding: 10px;
		margin-bottom: 15px;
		margin-top: 46px;
		text-align: center;
	}

	footer ul li {
		font-weight: 600;
		font-size: 25px;
		text-align: center;

		margin: 20px 0px 20px 0px;
	}

	footer ul li a {
		color: var(--branco-dnc);
		text-decoration: none;
	}

	footer ul li a:hover {
		color: var(--cinza-hover);
	}

	footer .address {
		font-family: var(--fonte-padrao);
		font-weight: 600;
		font-size: 18px;
		color: var(--branco-dnc);

		text-align: center;
		width: 20%;
	}

	footer .linetwo-footer {
		height: 35px;
		display: flex;
		justify-content: center;
		padding: 10px 0px 32px 0px;
	}

	footer .linetwo-footer a {
		font-family: var(--fonte-padrao);
		font-weight: 600;
		font-size: 20px;
		color: var(--branco-dnc);
		text-decoration: none;
		padding: 8px;
	}

	footer .linetwo-footer a:first-child {
		border-right: 3px solid var(--branco-dnc);
	}

	footer .linetwo-footer a:hover {
		color: var(--cinza-hover);
	}

/* MIDIA QUERY */
@media only screen and (max-width: 37.5rem) {
	
	/* MENU */
	#main {
		flex-direction: column;
		height: auto;
	}

	#menu {
		flex-direction: column;
		width: 100%;
		margin: 0rem;
	}

	#menu a {
		display: flex;
		align-items: center;
		height: 2.5rem;
	}

	#main button {
		width: 100%;
		margin: 0.625rem 0rem 0rem 0rem;
	}

	/* FOMULÁRIO */
	section h1 {
		font-size: 2.5rem;
		margin-top: 1.875rem;
	}

	section h2 {
		font-size: 1.5625rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
	}

	form {
		width: 95%;
		font-size: 1.25rem;
	}

	.checkbox-itens label {
		font-size: 1.125rem;
	}

	input[type="checkbox"] {
		transform: scale(1.2);
	}
	
	/* FOOTER */
	footer .lineone-footer {
		flex-direction: column;
	}

	footer .address {
		width: 95%;
		margin-bottom: 1.5625rem;
	}

	footer .linetwo-footer a {
		font-size: 1.125rem;
	}
}
